<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>
	
  <targets>
    <!-- Target for logging in the file -->
	  <!--target xsi:type="File" name="fileTarget" fileName="Logs.txt"
			  layout="${longdate} [${level:uppercase=true}] ${message} ${EXCEPTION exception:format=tostring} ${newline}" /-->

	  <!--Target for logging in Seq-->
	  <target name="seq" 
			  xsi:type="BufferingWrapper"
			  bufferSize="1000"
			  flushTimeout="2000" 
			  slidingTimeout="false">
		  <target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="0HVJPLF85WGU6DXa2qD7">
			<property name="MachineName" value="${machinename}" />
		  </target>
	  </target>
	  
  </targets>

  <rules>
    <!-- The fule for logging everything form level Trace in the file -->
	  <logger name="*" minlevel="Trace" writeTo="fileTarget" />
	<!-- The fule for logging everything form level Trace in seq -->
	  <logger name="*" minlevel="Trace" writeTo="seq" />
  </rules>

</nlog>